themes {
    "base16-active" {
        fg 192 192 192
        bg 0 0 0
        black 42 42 42
        red 255 0 0
        green 0 255 0
        yellow 255 255 0
        blue 0 0 255
        magenta 255 0 255
        cyan 0 255 255
        white 255 255 255
        orange 128 128 0
    }
}
